extends base.pug

block content 
    h1 Edit #{video.title}
    form(method="POST")
        input(name="title", placeholder="Title", value=video.title, required)
        input(name="description", placeholder="Description", value=video.description, required, type="text")
        input(name="hashtags", placeholder="Hashtags, separated by comma.", value=video.hashtags.join(), required, type="text")
        input(type="submit", value="Save") 