extends base.pug


block content 
    if errorMessage 
        span=errorMessage
    form(method="POST", enctype="multipart/form-data")
        label(for="video") Video File 
        input(type="file", accept="video/*", name="video", id="video", required)
        input(placeholder="title", required, type="text", name="title")
        input(placeholder="Description", required, type="text", name="description")
        input(placeholder="Hastags, separated by come", required, type="text", name="hashtags")
        input(type="submit", name="Upload Video")